@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before { content: "\e649"; }

.icon-ttpodicon:before { content: "\e648"; }

.icon-yonghu:before { content: "\e600"; }

.icon-share:before { content: "\e64a"; }

.icon-weibiaoti1:before { content: "\e61d"; }

.icon-bofang:before { content: "\e62b"; }

.icon-xia:before { content: "\e626"; }

.icon-more:before { content: "\e60e"; }

.icon-danquxunhuan:before { content: "\e692"; }

.icon-suijibofang:before { content: "\e62a"; }

.icon-demo18:before { content: "\e612"; }

.icon-zuixin:before { content: "\e668"; }

.icon-xiazai:before { content: "\e890"; }

.icon-quanbu:before { content: "\e65d"; }

.icon-yinle1:before { content: "\e65c"; }

.icon-default:before { content: "\e65b"; }

.icon-wanjumowan:before { content: "\e6a1"; }

.icon-game:before { content: "\e62c"; }

.icon-iconset04100:before { content: "\e77b"; }

.icon-xiazai2:before { content: "\e654"; }

.icon-iconfontxingxing:before { content: "\e628"; }

.icon-iconfontphone:before { content: "\e634"; }

.icon-xiaji1:before { content: "\e65f"; }

.icon-xinjian:before { content: "\e676"; }

.icon-zanting:before { content: "\e644"; }

.icon-xinjian1:before { content: "\e61e"; }

.icon-music:before { content: "\e606"; }

.icon-icons64x6423:before { content: "\e657"; }

.icon-zuixin1:before { content: "\e674"; }

.icon-zanting1:before { content: "\e61a"; }

.icon-tushujiemianshangyiqu40:before { content: "\e631"; }

.icon-tushujiemianxiayiqu40:before { content: "\e636"; }

.icon-hudong-xihuan-copy:before { content: "\e62d"; }

.icon-xihuan:before { content: "\e61c"; }

.icon-good:before { content: "\e699"; }

.icon-map:before { content: "\e6a2"; }

.icon-account:before { content: "\e6a3"; }

.icon-search:before { content: "\e6a4"; }

.icon-comments:before { content: "\e6a7"; }

.icon-play:before { content: "\e6b0"; }




