@charset "utf-8";
.mui-content{
	width:100%;
	display:-webkit-box;
	-webkit-box-sizing: border-box;
	padding:1em 1.25em 0 0.8em;
	-webkit-box-orient: vertical;
}
.bottom .bottom_ul{
	width:100%; 
	margin-bottom: 1em; 
	border-radius: 10px;
	border: 1px solid #ccc;
	background: #FFF;
}
.bottom .bottom_ul li{
	font-size:0.85em;
	line-height:3em;
	list-style: none;
	border-bottom: 1px solid #ccc;
    height:3em;
    padding-left:0.675em;
    padding-right: 0.675em;
}
.bottom .bottom_ul li:last-child{ border:none;}
.bottom .bottom_ul li span{float:left;}
.bottom .bottom_ul li i{float:right;margin-top: 0.5em;}
.bottom .go_index{ 
	background: url(../img/login-bg.png) no-repeat top center; 
	border-radius: 6px;
	font-size:1.25em;
	text-decoration:none;
	color:#FFF !important;
	line-height:2.3em;
	text-align:center;
	display:block;
	margin:1.75em auto;
	width:10.55em;
	height:2.3em;
}


